.timer {
  font-family: "Saira", sans-serif;
  font-weight: 700;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 24rem;
  padding: 20px 40px;
  text-align: center;
  font-size: 4.5rem;
  border-radius: 12px;
}
