.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  font-size: 2rem;
}

.button {
  padding: 12px 24px;
  border: 4px solid rgb(255, 44, 79);
  border-radius: 16px;
  background-color: rgb(255, 44, 79);
  font-size: 2rem;
}
.button:hover {
  background-color: rgb(211, 1, 47);
  border-color: rgb(211, 1, 47);
}
.button:active {
  background-color: rgb(240, 84, 117);
  border-color: rgb(240, 84, 117);
}